body{
	/*background-color: #1879A6;*/
	background-image: url("back.jpg");
	
}


#pageDiv{
	margin: 0 auto; 
	width: 81%; 
}

/*Top Panel Div*/

#topDiv1{
	float: left; 
	width: 100%; 
	height: 50px;
	background-image: url("hp.jpg");
    background-repeat: repeat-x;
}

#topDiv2{
	float: left; 
	width: 100%; 
	height: 100px;
	background-image: url("log.jpg");
}

#topDiv2-1{
	width: 35%;
	height: 100px;
	float:left;
}

#topDiv2-2{
	float: left;
	margin-top: 50px;
	
	width: 65%;
	color: black;
	font-weight: bold;
}

.loutbtn{
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

/*top div List attribute*/
#topDiv2-2list li {
	list-style-type: none;
    display: inline;
    

}



li a {
    display: inline-block;
    color: #000;
    padding: 5px 9px;
    text-decoration: none;
}


li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;

}
/*----------*/


/**  Navigation bar**/
.navbar {

  overflow: hidden;
  /*background-color: red;*/
  position:fixed;
  top: 0;
  margin: 0 auto;
  /*width: 1067px;*/
  width: 80%;

}

.main {
  /*padding: 16px;*/
  margin-top: 140px;
  /*height: 1500px; /* Used in this example to enable scrolling */
}
/**  Navigation bar end**/



/*Top Panel Div End*/

#left-rightDive{
	float: left; 
	width: 20%; 
	/*background-color: #ABEBC6;*/
	height: 750px;
}

/*Right Panel Div*/

#righttDive1{
	float: left; 
	width: 100%; 
	background-color: white;
	height: 330px;
}

#righttDive2{
	float: left; 
	width: 100%; 
	background-color: white;
	height: 420px;
}

#rightDiv1Tbl{
	font: italic bold 10pt Arial;    /*This order must be*/
	color: #337EA6;
	width: 100%;
	text-align:center;
}

/*Right Panel Div End*/

/*Left Panel Div*/

#leftDive1{
	float: left; 
	width: 100%; 
	background-color: white;
	height: 330px;
}

#leftDive2{
	float: left; 
	width: 100%; 
	background-color: #9FBD7F;
	height: 150px;
}
.leftDiv2Clas{
	background: linear-gradient(#9FBD7F, white, #9FBD7F);
	float: left; 
	width: 100%; 
	height: 150px;
}


#leftDive3{
	float: left; 
	width: 100%; 
	height: 270px;
	background-image: url("cal.jpg");
	background-repeat: repeat-x;
}

#leftDiv1Tbl {
	font: italic bold 10pt Arial;    /*This order must be*/
	color: #337EA6;
	width: 100%;
	text-align:center;
	height: 50px;

}


#logForm{
	margin-left: 10px;
	font: bold 8pt "Avant Garde";    /*This order must be*/
	color: #042D59;
	font-size: 10pt;

}

a{
	text-decoration: none;
	color: #337EA6;
}

#leftDivExtend{
	float: left; 
	width: 100%; 
	background-color: white;
	height: 200px;

}


/*Left Panel Div End*/


/*Middle Panel Div*/

#middleDive{
	float: left; 
	width: 60%; 
	/*background-color: #ABEBC6;*/
	height: 750px;

}


#middlePic{
	float: left; 
	width: 100%; 
	background-color: red;
	height: 300px;
}

/*News and Event Scoral*/
.scroll {
    overflow: scroll;
    width: 100%;
    height:370px;
}


#middleDive1{
	float: left; 
	width: 100%; 
	height: 80px;
}



.mD1Color1{
	background-color: white;
}

.mD1Color2{
	background-color: #dce2ed;
	font-size: 15pt;
}

#middleDive2{
	float: left; 
	width: 40%; 
	height: 220px;
	background-color: white;

}

#middleDive2-1{
	float: left; 
	width: 60%; 
	background-color: white;
	height: 220px;
}

#middleDive3{
	float: left; 
	width: 40%; 
	background-color: white;
	height: 220px;
}

#middleDive3-1{
	float: left; 
	width: 60%; 
	background-color: white;
	height: 220px;
}

#middleDive4{
	float: left; 
	width: 40%; 
	background-color: white;
	height: 220px;
}

#middleDive4-1{
	float: left; 
	width: 60%; 
	background-color: white;
	height: 220px;
}

#middleDive5{
	float: right; 
	width: 75%; 
	height: 40px;
	font-size: 18px;
	color: #424242;

}

.link{
	text-decoration: none;
	color: #424242;
}

#middleDiveExtend{
	float: left;
	height: 670px;
	width: 100%;
	background-color: white;

}

#middleDiveSignInFrm{
	float: left;
	height: 220px;
	width: 100%;
	background-color: #CEE3F6;

}

#middleDiveFileUploadFrm{
	float: left;
	height: 220px;
	width: 100%;
	background-color: #CEE3F6;

}

#uloadForm{
	margin-left: 50px;
	font: bold 8pt "Avant Garde";    /*This order must be*/
	color: #042D59;
	font-size: 12pt;
	margin-top: 50px;
}

#signForm{
	margin-left: 50px;
	font: bold 8pt "Avant Garde";    /*This order must be*/
	color: #042D59;
	font-size: 12pt;

}

.frmHead{
	text-align: center; 
	color: #042D59;
	font-size: 15pt;
}

#middleDive1-1{
	float: left; 
	width: 100%; 
	height: 10px;
}

#middleDive1-2{
	float: left; 
	width: 100%; 
	height: 30px;
	background-color: #CEE3F6;
	font-size: 15pt;
	text-align: center;
	color: #042D59;
}

#middleDiveClubFrm{
	float: left;
	height: 440px;
	width: 100%;
	background-color: #CEE3F6;
}

.fileNlinkBtn{
	width: 80px;
	height: 80px;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 180px;
   

}

div.galmargin{
	padding-left: 35px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;

}

div.desc {
    padding: 15px;
    text-align: center;
}


/*Middle Panel Div End*/

/*Faculty Div*/
#fac1{
	width: 100%;
	height: 420px;
	background-color: white;
	float: left; 
}

#fac2{
	width: 80%;
	height: 400px;
	float: left; 
}

#fac3{
	width: 20%;
	height: 400px;
	float: left; 
	background-image: url("cc.jpg");
	background-repeat: repeat-x;

}

#facTbl {
	font: italic bold 10pt Arial;    /*This order must be*/
	color: #337EA6;
	width: 100%;
	text-align:center;
	height: 50px;
}



/*Faculty Div End*/

/*Botam Panel Div*/

#botamDive{
	float: left; 
	width: 100%;  
	height: 50px;
	background-image: url("ft.jpg");
	background-repeat: repeat-x;
	text-align: right;
	font-padding-top: 50px;
	color: white;

}

/*Botam Panel Div End*/

h4,h3{
	
	text-align:center;
	font-family:"Avant Garde";
	color: #042D59;
}

#border {
    border-bottom: 1px solid #ddd;
}



#p1{
	font: 10pt "Less-common serif fonts";
	text-align: center;
}
dd{
	font: 10pt "Less-common serif fonts";
	
}
